div.metadata {
    margin-top: 20px;
    font-size: 1.5em;
}

ul li {
    display: inline;
}


#apptitle {
    background-color: orange;
    color: white;
}

.navibar-header {
    background-color: blue;
}